@use 'variables';
@use 'mixins';

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: #f9f9f9;
  color: #111;
}

.container {
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
